@tailwind base;
@tailwind components;
@tailwind utilities;
.scroll-invisible {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.scroll-invisible::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}